{% extends 'template.html' %}

<h2>{% block title %}Enter a FQDN{% endblock %}<h2>

{% block content %}
<div class="container">
	<form method="post" action="/lookup" class="d-flex justify-content-center">
		{{ form.csrf_token }}
		<div class="form-row align-items-center">
			<div class="col-auto">
				{{ form.hostname(size=20,class='form-control') }}
			</div>
			<div class="col-auto">	
				<input type="submit" value="Go" class="btn btn-primary">
			</div>	
		</div>		  
	</form>
</div>	
{% endblock %}

