<!DOCTYPE html>
<html lang="en" dir="ltr">
 <head>
   <meta charset="utf-8">
   <title>DNS Mate</title>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
	<style>
		body {
      text-align: center;
      padding: 2rem;
    }
    footer, main {
      margin: 2rem;
    }
	</style>
 </head>
 <body>
    <header>
      <div class="container">
        <h1 class="logo">DNS Mate</h1>
        <p>Easily look up all things DNS for a FQDN.</p>
      </div>
    </header>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
    	<div class="container">
			<p>&copy; 2019 <a href="http://johnathanwarlick.me">Johnathan Warlick</a></p>
		</div>
    </footer>

 </body>
</html>